$color-white: #eee;
$color-black: #333;
$color-black-2: #181818;
$color-gray-1: #909096;
$color-gray-2: #90909655;
$color-gray-3: #dbdbdb;
$color-green: #a6e22e;
$color-red: #f92672;
$color-yellow: #e6db74;
$color-blue: #66d9ef;
$color-sky-blue: #f1f5f9;

@font-face {
  font-family: "noto-regular";
  src: url(../font/noto-regular.otf);
}
@font-face {
  font-family: "code";
  src: url(../font/RictyDiminished-Bold.ttf);
}
* {
  padding: 0;
  margin: 0;

  letter-spacing: 0.1rem;
  line-height: 175%;
  text-decoration: none;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
small,
input,
textarea {
  font-size: 16px;
  color: $color-white;
  font-family: "noto-regular", sans-serif;
}
a {
  color: $color-blue;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 20px;
}

.l-site {
  position: relative;
  display: grid;
  grid-template-columns: 150px 1fr;
  min-width: 1000px;
  &__header {
    z-index: 2;
    grid-column: 1 / 2;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: auto;
    background: $color-black-2;
  }
  &__main {
    z-index: 1;
    grid-column: 2 / 3;
    background: #1d1d1d;
  }
}

.c-side-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  &__img {
    width: 80%;
    padding: 20px 0 0 0;
    margin: 0 auto 0 auto;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__nav-item {
    padding: 15px;
    text-align: center;
    border-top: solid 1px $color-gray-2;
    color: $color-gray-1;
    transition: 0.3s ease;
    &:last-child {
      border-bottom: solid 1px $color-gray-2;
    }
    &:hover {
      color: $color-blue;
    }
  }
  &__sns {
    display: flex;
    justify-content: center;
    height: 200px;
  }
  &__sns-item {
    opacity: 0.65;
    transition: 0.3s ease;
    & + & {
      margin: 0 0 0 10px;
    }
    &:hover {
      opacity: 1;
    }
  }
}

.c-top-section {
  $padding: 100px;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  box-sizing: border-box;
  &__heading {
    z-index: 1;
    position: absolute;
    bottom: $padding;
    left: $padding;
    font-size: 3.5vw;
  }
  &__img {
    z-index: 0;
    position: absolute;
    right: 0;
    top: 5vh;
    width: 100vh;
    height: 100vh;
    svg {
      overflow: overlay;
    }
    path {
      fill: transparent;
      stroke: $color-blue;
      stroke-miterlimit: 10;
      transition: fill 1.5s ease;
    }
    .js-compleated path {
      stroke: $color-blue;
      stroke-dasharray: 100 100% !important;
      fill: #000;
      filter: drop-shadow(0px 0px 5px $color-blue);
      animation: 60s linear 0s infinite alternate move-svg-stroke;
    }
    @keyframes move-svg-stroke {
      from {
        stroke-dashoffset: 0;
      }
      to {
        stroke-dashoffset: 300%;
      }
    }
  }
}

.c-section {
  padding: 100px;
  &__heading {
    font-size: 50px;
    font-family: "code";
  }
  &__description {
    margin: 0 0 30px 0;
    color: $color-gray-3;
  }
  h2 {
    margin: 0 0 15px 0;
  }
  h3 {
    margin: 0 0 15px 0;
  }
}

.c-skills {
  display: flex;
  &__item {
    & + & {
      margin: 0 0 0 100px;
    }
  }
  &__heading {
    margin: 0 0 10px 0;
  }
  &__list-item {
    color: $color-gray-3;
  }
}

.c-works {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  &__item {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      .c-works__img {
        transform: scale(1.02);
        filter: brightness(0.9);
      }
    }
  }
  &__img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    transition: 0.5s ease;
  }
  &__cat {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 2px 10px;
    background: $color-sky-blue;
    color: $color-black;
  }
}

.c-works-popup {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background: #00000099;
  cursor: pointer;
  &.js-popup-show {
    display: block;
  }
  &__inner {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    img {
      width: 100%;
    }
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: $color-black;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
      background: $color-white;
      border-radius: 5px;
    }
  }
  &__close {
    position: fixed;
    z-index: 1;
    right: 10%;
    top: 10%;
    transform: translate(70%, -50%);
    width: 45px;
    height: 45px;
    border-radius: 10rem;
    background: #fff;
    cursor: pointer;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 28px;
      height: 4px;
      background: #333;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

.c-blog {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  &__item {
    display: flex;
    &:hover {
      .c-blog__img {
        transform: scale(1.02);
        border: solid 4px $color-blue;
      }
    }
  }
  &__img {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: solid 4px transparent;
    border-radius: 5px;
    box-sizing: border-box;
    background: $color-sky-blue;
    transition: 0.3s ease;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 0 0 15px;
  }
  &__heading {
    line-height: 140%;
    font-size: 18px;
  }
  &__date {
    font-size: 14px;
    color: $color-gray-2;
  }
}

.c-code-button {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 50px auto 0 auto;
  cursor: pointer;
  * {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  &__head,
  &__foot {
    font-family: "code";
    font-size: 16px;
    color: $color-gray-2;
  }
  &__body {
    padding: 0 0 0 20px;
    margin: -5px 0 0 0;
    font-size: 30px;
    color: $color-red;
  }
  &__hov-effect {
    transition: 0.3s ease;
  }
  &:hover {
    .c-code-button__hov-effect {
      color: $color-red;
    }
  }
}

.c-contact-form {
  width: 100%;
  &__item {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 0;
  }
  &__heading {
    font-size: 18px;
    color: $color-white;
  }
  input[type="text"],
  textarea,
  select {
    padding: 8px 15px;
    font-size: 18px;
    color: $color-black;
    background: $color-sky-blue;
  }
  textarea {
    height: 150px;
  }
}

.c-contact-area {
  display: grid;
  grid-template-columns: 50% calc(50% - 30px);
  grid-gap: 30px;
  color: $color-white;
  &__output {
    overflow-y: auto;
    padding: 20px;
    border-radius: 5px;
    background: #35362f;
    font-family: "code";
    font-size: 20px;
  }
  &__row {
    padding: 0 0 0 1rem;
    word-break: break-all;
  }
}

.c-footer {
  padding: 30px;
  text-align: center;
  background: $color-black-2;
  &__copy {
    color: $color-gray-1;
  }
}

.u-typing {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid transparent;
  &--size-6 {
    @extend.u-typing;
    width: 0;
    animation: typing-size-6 0.6s steps(6, end) forwards, cursor-none 0.6s steps(6, end);
    animation-delay: 0;
  }
  &--size-10 {
    @extend.u-typing;
    width: 0;
    animation: typing-size-10 1s steps(10, end) forwards, cursor-none 1s steps(10, end);
    animation-delay: 0.6s;
  }
  &--size-20 {
    @extend.u-typing;
    width: 0;
    animation: typing-size-20 2s steps(20, end) forwards, cursor 1s steps(20, end) infinite forwards;
    animation-delay: 1.6s;
  }
  @keyframes typing-size-6 {
    from {
      width: 0;
    }
    to {
      width: 12vw;
    }
  }
  @keyframes typing-size-10 {
    from {
      width: 0;
    }
    to {
      width: 20vw;
    }
  }
  @keyframes typing-size-20 {
    from {
      width: 0;
    }
    to {
      width: 40vw;
    }
  }
  @keyframes cursor {
    50% {
      border-color: $color-white;
    }
  }
  @keyframes cursor-none {
    from {
      border-color: transparent;
    }
    to {
      border-color: $color-white;
    }
  }
}

.u-color-green {
  color: $color-green;
}
.u-color-yellow {
  color: $color-yellow;
}
.u-color-red {
  color: $color-red;
}
.u-color-blue {
  color: $color-blue;
}
.u-mt-70 {
  margin-top: 70px;
}
.u-mn-100 {
  margin-bottom: 100px;
}
.u-pb-40 {
  padding-bottom: 40px;
}
.u-pb-100 {
  padding-bottom: 100px;
}
